<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
       
        <link rel="stylesheet" href="../asets/css/evento2.css">
        <link rel="stylesheet" href="">
        <title>Document</title>
    </head>
    <body class="slr">
        <button id="btn">mi perfil</button>
        <div id="ventana" class="modal">
            <div class="contenido">
                <span class="cerrar"><i class="fa-solid  fa-xmark"></i></span>
                <h3>xelene</h3>
                <img src="../asets/img/emociones.jpg" class="imagen">
                <p>Me considero como una persona que tiene demasiadas emociones
                    y que esta en constante pelea con ellas</p>
            </div>
        </div>
     <script src="../asets/js/modal.js"></script>    
    </body>
</html>