<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asets/css/eventos.css">
    <script src="../asets/js/evento.js"></script>
    <title>reto2</title>
</head>

<body>
    <header>
<div class="container1">
<h1>XELENE PEREZ</h1>
</div>
        <table>
            <tr>
                <th>Evento</th>
                <th> Ejemplo aplicacion</th>
            </tr>
            <tr>
                <td>
                    mouse over
                </td>
                <td>
                    <input type="button" id="envio" value="enviar">
                </td>
            </tr>
            <tr>
                <td> doble click</td>
                <td>
                    <input type="button" id="enviar" value="saludo">
                </td>
            </tr>
            <tr>
                <td> mouseout </td>
                <td><input type="button" id="b2" value="inicio"></td>
            </tr>
            <tr>
                <td>click</td>
                <td><label for=""> Genero</label>
                    <input type="radio" id="hombre" value="hombre">hombre
                    <input type="radio" id="mujer" value="mujer">mujer
                </td>
            </tr>
            <tr>
                <td>keyup</td>
                <td><input type="text" id="caja"></td>
            </tr>
            <tr>
                <td>focus</td>
                <td>
                 <input type="text" id="caja2"></td>
            </tr>
            <tr> 
                <td>blur</td>
                <td><input type="text" id="caja3"></td></td>
            </tr>
            <tr>
                <td>change</td>
                <td> 
                    <select name="" id="opciones">
                        <option value="opcion1">amigos</option>
                        <option value="opcion2">papas</option>
                        <option value="opcion3">hermanos</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>onsubmit </td>
                <td> <form onsubmit="alert('funciona');return false">
                    <input type="submit"value="Submit"></form></td>
            </tr>
            <tr>
                <td>onclick</td>
                <td><form onsubmit="alert('bienvenido')">
                <input type=""></form></td>
            </tr>


        </table>
        <h3 id="saludo"></h3>
    </header>


    <main></main>
    <footer></footer>
</body>

</html>